/* styles.css */

/* Modo oscuro */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .card {
    background-color: #1e1e1e;
    color: #ffffff;
    border-color: #333;
}

body.dark-mode .navbar, body.dark-mode .card-header {
    background-color: #1c1c1c !important;
    color: #ffffff;
}

body.dark-mode .form-check-label, body.dark-mode .card-title {
    color: #ffffff;
}

body.dark-mode a.btn-primary {
    background-color: #333;
    border-color: #444;
    color: #ffffff;
}

body.dark-mode a.btn-primary:hover {
    background-color: #444;
    border-color: #555;
}

body.dark-mode a.btn-danger {
    background-color: #a93226;
    border-color: #922b21;
}

body.dark-mode .alert {
    background-color: #333;
    border-color: #444;
    color: #ffffff;
}





